# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Environments
.env
.venv
venv/
ENV/
env/

# Local database and generated reports
smartbudget.db
reports_cache/
receipts/
fx_rates_cache.json
system_banner.json

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
